<nav class="mobile-navbar">
  <a href="/" class="nav-icon">
    <img src="/static/images/home.svg" alt="Home">
    <span></span>
  </a>
  <a href="/search" class="nav-icon">
    <img src="/static/images/mdi_location.svg" alt="Location">
    <span></span>
  </a>
  <a href="/notifications" class="nav-icon">
    <img src="/static/images/mdi_bell.svg" alt="Notifications">
    <span></span>
  </a>
  <a href="/profile" class="nav-icon">
    <img src="/static/images/profile.svg" alt="Profile">
    <span></span>
  </a>
</nav>
