<!-- wip -->
<a href="/">
  <img src="/static/images/tllogo.png" alt="Travel Link logo" />
</a>

<input type="text" placeholder="Beach walk, 'party', 'relaxing'" />

<nav>
  <a href="/user/create-meet"><button>Create Meet</button></a>
  <button>Manage Meets</button>
</nav>

<section>
  <a href="/notifications">
    <img src="/static/images/alarm.svg" alt="Notifications" />
  </a>
  <a href="/profile">
    <img src="/static/images/profiel.svg" alt="Profile" />
  </a>
</section>
