
<header>
  <!-- Desktop navbar -->
  <nav class="desktop-nav">
    <div class="nav-left">
      <a href="/"><img src="/static/images/logo.svg" alt="Travel Link logo" class="logo" /></a>
    </div>

    <div class="nav-search">
      <input type="text"
             placeholder="Beach walk, 'party', 'relaxing'"
             class="search-input"
             name="keyword"
             id="searchInput" />
    </div>
    
  <div class="nav-links">
    <a data-active="home" href="/home"            class="nav-link">Home</a>
    <a data-active="location" href="/"       class="nav-link">Location</a>
    <a href="/user/create-meet"    class="nav-link nav-button">Create Meet</a>
    <a href="/meets"               class="nav-link nav-button">Manage Meets</a>
    <a data-active="noti" href="/notifications" class="nav-link"><img src="/static/images/mdi_bell.svg" alt="Notifications" class="icon-notif"></a>
    <a data-active="profile" href="/profile/<%= userId %>"class="nav-link"><img src="/static/images/profiel.svg" alt="Profile"></a>
</div>
</nav>


  <!-- Mobile header -->
  <nav class="mobile-header">
    <div class="header-left">
      <a href="/"><img src="/static/images/logo.svg" alt="Travel Link logo" class="logo" /></a>
    </div>

    <div class="header-center">
      <input type="text"
             placeholder="Beach walk, 'party', 'relaxing'"
             class="search-input"
             name="keyword"
             id="searchInput" />
    </div>
  </nav>
  
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const path = window.location.pathname.toLowerCase();
    document.querySelectorAll('.nav-link[data-active]').forEach(link => {
      const key = link.dataset.active.toLowerCase();
      if (path.includes(key)) {
        link.classList.add('active');
      }
    });
  });
</script>
