<header class="mobile-header">
  <div class="header-left">
    <img src="/static/images/logo.svg" alt="Logo" class="logo">
  </div>

  <div class="header-center">

    <input type="text" placeholder="Search..." class="search-input" name="keyword" id="searchInput">

  </div>

  <div class="header-right">
    <img src="/static/images/profileivy.jpeg" alt="Profile" class="profile-icon">
  </div>
</header>
