<nav>
  <a href="/">
    <img
      src="/static/images/topleft-logo.png"
      alt="TravelLink - Make friends around the world!"
    />
  </a>
  <div id="pages"></div>
  <input type="text" name="" id="" />
  <div id="create-manage">
    <a href="/users/create-meet"
      ><button id="create-meet">Create Meet</button></a
    >
    <a href="/meets"><button id="manage-meets">Manage Meets</button></a>
  </div>
  <div id="profile" style="display: flex; flex-direction: column">
    <% if (user && user._id) { %>
    <a href="/profile/<%= user._id %>">
      <img
        src="<%= user.photoUrl ? user.photoUrl : '/static/images/profile.png' %>"
        alt="Profile Picture"
        class="profile-pic"
        style="
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid #ccc;
        "
      />
    </a>
    <% if (user.firstName) { %>
    <span style="font-size: 0.95em; white-space: nowrap; text-align: center">
      <%= user.firstName %>
    </span>
    <% } %> <% } else { %>
    <a href="/login">
      <img
        src="/static/images/profile.png"
        alt="Profile Picture"
        class="profile-pic"
        style="
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid #ccc;
        "
      />
    </a>
    <% } %>
  </div>
</nav>
