<nav>
  <a href="/">
    <img
      src="/static/images/topleft-logo.png"
      alt="TravelLink - Make friends around the world!"
    />
  </a>
  <div id="pages">
    <div>Filter</div>
  </div>
  <input type="text" name="" id="" />
  <div id="create-manage">
    <a href="/users/create-meet"
      ><button id="create-meet">Create Meet</button></a
    >
    <a href="/meets"><button id="manage-meets">Manage Meets</button></a>
  </div>
  <div
    id="profile"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    "
  >
    <a href="/profile/<%= userId %>">
      <img
        src="<%= typeof user !== 'undefined' && user && user.photoUrl ? user.photoUrl : '/static/images/profile.png' %>"
        alt="Profile Picture"
        class="profile-pic"
        style="
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid #ccc;
        "
      />
    </a>
    <% if (typeof user !== 'undefined' && user && user.firstName) { %>
    <span
      style="
        font-size: 0.95em;
        margin-top: 2px;
        color: #333;
        font-weight: 500;
        position: absolute;
        left: 50px;
        top: 10px;
        white-space: nowrap;
      "
    >
      <%= user.firstName %>
    </span>
    <% } %>
  </div>
</nav>
