<nav>
  <a href="/">
    <img
      src="/static/images/topleft-logo.png"
      alt="TravelLink - Make friends around the world!"
    />
  </a>
  <div id="pages">
    <div>Filter</div>
  </div>
  <input type="text" name="" id="" />
  <div id="create-manage">
    <a href="/users/create-meet"
      ><button id="create-meet">Create Meet</button></a
    >
    <a href="/meets"><button id="manage-meets">Manage Meets</button></a>
  </div>
  <div id="profile">
    <a href="/profile/<%= userId %>">
      <img
        src="<%= typeof user !== 'undefined' && user && user.photoUrl ? user.photoUrl : '/static/images/profile.png' %>"
        alt="Profile Picture"
        class="profile-pic"
        style="
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid #ccc;
        "
      />
    </a>
  </div>
</nav>
