body {
  background-color: #f5f5f5;
  color: #111;
  line-height: 1.5;
  margin: 0 auto;
  }

  .hero {
  background:#ffe6e7 ;
  color: #087E8B;
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  }
  
  .hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  }
  
  .hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  }
  
  .cta-button {
  padding: 0.625rem 1.25rem;
  background-color: #ff7f7f;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  }
  
  .cta-button:hover {
  background-color: #ff4e4e;
  }

  .more-meets {
  margin-bottom: 5rem;
  padding: 0.375rem 0.75rem;
  background-color: #087E8B;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  }
  
  .more-meets:hover {
  background-color: #06626d;
  }
  
  section a img {
  width: 3rem;
  height: 3rem;
  transition: transform 0.2s ease;
  margin: 0.0625rem;
  }
  
  section a:hover img {
  transform: scale(1.1);
  }
  
  main section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  }
  
  em {
  font-style: italic;
  font-weight: 700;
  }

  .meet-row {
  margin-top: 2rem;
  }
  
  section img[src*="map"] {
  display: block;
  margin: auto;
  width: 50%;
  border: 0.125rem solid #ccc;
  border-radius: 0.5rem;
  }
  
.map-placeholder {
  width: 100%;
  max-width: 50rem;
  display: block;
  margin: 1rem auto;
}

.mobile-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  padding-top: 1rem;
  margin: auto;
}

.mobile-actions .action-btn {
  flex: 1;
  text-align: center;
  padding: 0.375rem 0;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.2s ease;
}

.float-btn {
  position: fixed;
  right: 1rem;             
  bottom: 5.5rem;          
  width: 3.5rem;
  height: 3.5rem;
  background: #3c3c3c;      
  color: #fff;
  font-size: 2rem;
  line-height: 3.2rem;       
  text-align: center;
  border-radius: 50%;      
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.2);
  z-index: 1001;           
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.mobile-actions .action-btn.manage {
  background: #e14f53;
}

@media (min-width: 768px) {
  .mobile-actions {
  display: none;
  }
  .float-btn {
  display: none;
  }
}

@media (max-width: 767px) {
  main{
  padding-bottom: 7.5rem; 
  }
}

@media (min-width: 768px) {
  main.profile-container {
  padding-bottom: 0;
  }
}
