<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/loginHome.css">
</head>

<body>
    <header></header>
    <main>
        <img src="/static/images/Screenshot 2025-05-12 at 13.42.28.png" alt="logo travel link">
        <section class="welcomeTekst">
            <h1>welcome</h1>
            <p>Welcome to Travel Link. Your go to app for planning meetups based on shared interests. Discover adventures, connect with like minded travelers, and make every journey a chance to meet new friends!
            </p>

            <section>
                <a href="/login">
                    <button>
                        Login
                    </button>
                </a>

                <a href="/home?guest=true">
                    <button>
                        Guest
                    </button>
                </a>
            </section>
            <div class="divider">
                <span>Or</span>
            </div>
            <p>Don't have an account? <a href="/register">Create account</a></p>
        </section>
    </main>
    <footer></footer>

<script src="/static/script/loginHome.js"></script>
</body>

</html>