<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <title>loginHome</title>
  <link rel="stylesheet" href="/static/css/loginHome.css" />
</head>
<body>
  <div class="login-bg">
    <div class="login-overlay"></div>

    <!-- stap 2: logo -->
    <div class="logo">
      <img src="/static/images/logo.svg" alt="Travel Link logo">
    </div>


    <div class="welcome-container">
      <h1>Welcome</h1>
      <p class="intro">Find your people. Meet, move & explore together.</p>
      <div class="buttons">
        <a href="/login"><button>Login</button></a>
        <a href="/home"><button class="btn-guest">Guest</button></a>
      </div>
      <div class="divider">Or</div>
      <p class="signup">Don't have an account? <a href="/register">Create account</a></p>
    </div>
  </div>

  <script src="/static/script/loginHome.js"></script>
</body>
</html>

 
